html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;        
}                    
#__next {
    display: flex !important;
    min-height: 100vh;
    flex-direction: column;     
    align-items: center;
    background: #fff;
}
.shtorka {
    display: flex;
    flex-grow: 1;
    background: #f1f1f1;
}

header {
    display: none;
}
main {
    display: none;
}
footer {
    display: none;
}

.w {
    width: 100%;
    margin: 0 auto;
}
@media (min-width: 1200px) {
    .w {
        max-width: 1200px;
    }
}
